;; -*- no-byte-compile: t; -*-
;;; $DOOMDIR/config.el -*- lexical-binding: t; -*-

(setq user-full-name "Lukas Nickel"
      user-mail-address {{ .email | quote }})

(setq doom-font (font-spec :family "BerkeleyMono" :size 18)
      doom-variable-pitch-font (font-spec :family "BerkeleyMono" :size 18)
      doom-big-font (font-spec :family "BerkeleyMono" :size 24))


(setq fancy-splash-image "~/.config/doom/blackhole.png")
(setq doom-theme 'doom-gruvbox)
(setq display-line-numbers-type nil)

(setq evil-escape-key-sequence "jk")

(setq org-directory "~/org"
      org-roam-directory "~/org"
      org-agenda-files (directory-files-recursively "~/org/" "\\.org$")
      org-roam-db-location "~/org-roam.db"
      )

(use-package! org-modern-indent
  :config
  (add-hook 'org-mode-hook #'org-modern-indent-mode 90))
(with-eval-after-load 'org (global-org-modern-mode))


(use-package! org-special-block-extras
  :ensure t
  :hook (org-mode . org-special-block-extras-mode)
  :custom
  ;; The places where I keep my ‘#+documentation’
  (setq org-docs-libraries
        '("~/org/standard/2026/20260324125257-org_special_blocks_extra_glossary.org"))
  ;; For the “doc:𝒳” link type
    ;;;; Nearly instantaneous display of tooltips.
  (setq tooltip-delay 0)
    ;;;;; Give user 30 seconds before tooltip automatically disappears.
  (setq tooltip-hide-delay 300)
  )

(load-file (expand-file-name "org_roam.el" doom-private-dir ))
(load-file (expand-file-name "citar.el" doom-private-dir ))
(load-file (expand-file-name "org-latex.el" doom-private-dir ))
(load-file (expand-file-name "org-caldav.el" doom-private-dir ))
